.my_testi_carousel {
    h5 {
        font-size: 50px;
        font-weight: 600;
        text-transform: uppercase;
    }

    p {
        font-size: 18px;
        word-spacing: 1px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        // text-transform: uppercase;
        margin-left: 2px;
        margin-right: 2px;
        color: white
    }

    .gradient-text {
        /* Fallback: Set a background color. */
        background-color: #CA4246;

        /* Create the gradient. */
        background-image: linear-gradient(45deg,
                #CA4246 16.666%,
                #E16541 16.666%,
                #E16541 33.333%,
                #F18F43 33.333%,
                #F18F43 50%,
                #476098 66.666%,
                #476098 83.333%,
                #A7489B 83.333%);

        /* Set the background size and repeat properties. */
        background-size: 100%;
        background-repeat: repeat;

        /* Use the text as a mask for the background. */
        /* This will show the gradient as a text color rather than element bg. */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        /* Animate the text when loading the element. */
        /* This animates it on page load and when hovering out. */
        animation: rainbow-text-simple-animation-rev 0.75s ease forwards;

    }

    .gradient-text:hover {
        animation: rainbow-text-simple-animation 0.5s ease-in forwards;
    }


    /* Move the background and make it smaller. */
    /* Animation shown when entering the page and after the hover animation. */
    @keyframes rainbow-text-simple-animation-rev {
        0% {
            background-size: 650%;
        }

        40% {
            background-size: 650%;
        }

        100% {
            background-size: 100%;
        }
    }

    /* Move the background and make it larger. */
    /* Animation shown when hovering over the text. */
    @keyframes rainbow-text-simple-animation {
        0% {
            background-size: 100%;
        }

        80% {
            background-size: 650%;
        }

        100% {
            background-size: 650%;
        }
    }


}