{% include directory ~ '/partials/header.html.twig'%}

    <section>

        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://source.unsplash.com/1400x400/?mobile" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>ABOUT US</h3>
                        <p>We build Awesome, Create Awesome & Execute Awesome | We are on the way to archive better</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  Why we are Here  -->
    <section id="specialities" class="bg-light ">
    <br>
        <div class="container text-left">
            <h1 class="title1">WHAT WE ARE?</h1>
            <div class="row">
                <div class="col-md-7 ">
                    <p class="about_us_desc">A mobile phone used to be a status symbol, owned and flaunted only by the businessman, or the rich and famous. Nowadays, thanks to massive price cuts, nearly everyone can own one if they want to. Gone are the days when you'd see a suited fellow strolling down the street yelling into a big grey brick a lÃ? Trigger Happy TV. Now the streets are full of people who, at first glance, seem to be having a very intense conversation with the palm of their hand.</p>
                    </ul>
                </div>
                <div class="col-md-5 imageforaboutus">
                    <img class="gr_img" src="/themes/custom/mobile/images/mobile-apps.jpeg" alt="mobile-apps">
                </div>
            </div>
        </div>
    </section>
    <hr >
    <section class="bg-light mb-5">
    <br>
        <div class="container text-left">
            <h1 class="title2">OUR VISION</h1>
            <div class="row">
            <div class="col-md-5 imageforaboutus">
                    <img class="gr_img" src="/themes/custom/mobile/images/vision.jpeg" alt="our-vision">
                </div>
                <div class="col-md-7 ">
                    <p class="about_us_desc">Mobile-Vision is the premier manufacturer of innovative, rugged, video recording systems and mobile data computers for public safety. Currently, Mobile-Vision has an installed product base of over 70,000 systems for over 7,000 state and local law enforcement agencies.</p>
                    </ul>
                </div>

            </div>
        </div>
    </section>
<hr>
    <section>
        <div class="container my-4 ">
        <h1 class="title3">OUR TEAM</h1>

            <div class="row ">
                <div class="col-md-4 pb-3">
                    <div class="card">
                    <img src="/themes/custom/mobile/images/apple.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title text-center">Iphone</h5>
                        <p class="card-text desc1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    </div>
                </div>
                <div class="col-md-4 pb-3">
                    <div class="card">
                    <img src="/themes/custom/mobile/images/samsung.jpeg" class="card-img-top" alt="...">
                    <div class="card-body ">
                    <h5 class="card-title text-center">Samsung</h5>
                        <p class="card-text desc1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    </div>
                </div>
                <div class="col-md-4 pb-3">
                    <div class="card">
                    <img src="/themes/custom/mobile/images/nokia.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title text-center">Nokia</h5>
                        <p class="card-text desc1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% include directory ~ '/partials/footer.html.twig'%}
