<!-- <div class="p-3"> -->

    <div class="card" id="card5" >
        
        <div class="img-cont">
            {{fields.field_image.content}}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{fields.title.content}}</h5><hr>
            <p class="card-text">{{fields.field_desc.content}}</p>
            <a href="#" class="btn btn-primary btn1">Get Details</a>
        </div>
    </div>
<!-- </div> -->
