<!-- <div class="p-3"> -->
    <div class="card" id="card5" >
        <div class="img-cont">
            {{fields.field_images.content}}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{fields.title.content}}</h5><hr>
            <p class="card-text">{{fields.body.content}}</p>
            <a href="#" class="btn btn-primary btn1" target="_blank">Get Details</a>
        </div>
    </div>
<!-- </div> -->
