  {% if page.footer %}
    <footer class="site-footer">
    <div class="container footer1">
      {{ page.footer }}
    </div>
    <div class="container footer2">
      {{ page.footer_second }}
    </div>

    </footer>
  {% endif %}